
pre code {
    font-size: 12pt;
}

body {
    color: #6c6c6c;
}

code {
    font-family: monospace;
}

.sourceCode {
    order-radius: 12px;
}

.row {
    background-color: #789E93;
}

.menu ul li a {
    color: rgb(57 88 71);;
}

.pages h1 {
    color: rgb(79 134 109);
}

.exercise {
    background: #fad4a2;
    color: #1a1a1a;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    position: relative;
    left: 10%;
    box-shadow: 5px 5px 5px #888888;
}
