.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
docs
inst/rmarkdown/templates/*/skeleton/*.html
inst/rmarkdown/templates/*/skeleton/skeleton_files/
inst/rmarkdown/templates/*/skeleton/grateful-refs.bib
# macOS hidden files
.DS_Store
/doc/
/Meta/
